@model Library.Models.Book
@{
   ViewData["Title"] = "Edit Book";
   Layout = null;
} 

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"]</title>
   <link rel="stylesheet" href="~/css/editBook.css" />
   <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="https://unpkg.com/boxicons@2.1.4/svg/solid/bxs-edit.svg">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="basic-blue-body">
   <header class="header-nav">
      <a href="@Url.Action("Index", "Home")" class="logo">
         <img src="@Url.Content("~/assets/logo_lib.png")" />
      </a>
      <nav class="navbar">
         <a href="@Url.Action("Index", "Home")"><i class="bx bx-home-heart"></i>Home</a>
         <a href="@Url.Action("Index", "AboutUs")"><i class="bx bxs-news"></i>AboutUs</a>
         <a href="@Url.Action("Index", "Contact")"><i class="bx bxs-contact"></i>Contact</a>
            <a href="@Url.Action("Index", "WishList")"><i class="fa fa-heart"></i>WishList</a>
            <a href="@Url.Action("Index", "Bookshelf")"><i class='bx bx-book-open'></i>Bookshelf</a>
         <a href="@Url.Page("/Account/Manage/Index", new { area = "Identity" })"><i class="bx bx-cog"></i>Settings</a>
      </nav>
      <partial name="_LoginPartial" />
   </header>

   <div class="edit-book-container">
      <div class="edit-book-form">
         <h1 class="text-center mb-4">Edit Book</h1>
         <form asp-action="EditBook" method="post">
            <div class="form-group">
               <label asp-for="ISBN" class="control-label">ISBN:</label>
               <input asp-for="ISBN" class="form-control" readonly />
            </div>
            <div class="form-group">
               <label asp-for="Title" class="control-label">Title:</label>
               <input asp-for="Title" class="form-control" required />
            </div>
            <div class="form-group">
               <label asp-for="Category" class="control-label">Category:</label>
               <input asp-for="Category" class="form-control" required />
            </div>
            <div class="form-group">
               <label asp-for="ReleaseYear" class="control-label">Release Year:</label>
               <input asp-for="ReleaseYear" class="form-control" required />
            </div>
            <div class="form-group">
               <label asp-for="IdBookshelf" class="control-label">Bookshelf:</label>
               <select asp-for="IdBookshelf" class="form-control" asp-items="@(new SelectList(ViewBag.Bookshelves, "IdBookshelf", "Category"))">
                  <option value="">Select Bookshelf</option>
               </select>
            </div>
            <div class="form-group">
               <label asp-for="IdPublisher" class="control-label">Publisher:</label>
               <select asp-for="IdPublisher" class="form-control" asp-items="@(new SelectList(ViewBag.Publishers, "IdPublisher", "Name"))">
                  <option value="">Select Publisher</option>
               </select>
            </div>
            <div class="form-group">
               <label for="authorNames" class="control-label">Authors:</label>
               <input type="text" name="authorNames" class="form-control" value="@ViewBag.AuthorNames" />
            </div>
            <div class="form-group">
               <button type="submit" class="edit-book-btn btn btn-primary">Update Book</button>
            </div>
         </form>
      </div>
   </div>

   <script src="~/js/script.js"></script>
</body>
</html>
